/* ====================== Header rules ============================ */
.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  padding-top: 10px;
  position: relative;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav.top {
  gap: 20px;
}

.header__nav.top::before {
  position: absolute;
  content: "";
  width: 150vw;
  height: 1px;
  bottom: -7px;
  left: -50vw;
  background-color: var(--color0005);
  z-index: -1;
}

.header__nav.mid {
  gap: 50px;
  padding: 10px 0;
}

.header__nav.bot {
  gap: 20px;
  padding: 20px 0;
  z-index: 3;
}

.header__nav.bot::before {
  position: absolute;
  content: "";
  width: 150vw;
  height: 100%;
  top: 0;
  left: -50vw;
  background-color: var(--colordeff59);
  z-index: -1;
}

.lang_select {
  position: relative;
  min-width: 75px;
}

.lang_hidden-cntr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  top: 20px;
  left: 0;
  border: 1px solid var(--color000);
  width: 100%;
  background-color: var(--colorfff);
  z-index: 4;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px 12px;
  min-width: 135px;
}

.lang_select.hidden .lang_hidden-cntr {
  display: none;
}

.lang_select::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 6px;
  background-image: url(../img/marks/arrowDownGreySvg.svg);
  background-repeat: no-repeat;
  right: -15px;
  top: 8px;
} 

.lang_item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lang_hidden-cntr .lang_item {
  gap: 10px;
}

.lang_item svg {
  fill: var(--color000);
}

.lang_cntr .lang_item svg{
  width: 18px;
  height: 18px;
  opacity: 0.6;
}

.lang_item strong {
  line-height: 140%;
  color: var(--color000);
  word-break: break-all;
  font-weight: 500;
  font-size: 16px;
}

.lang_hidden-cntr .lang_item:hover strong {
  color: var(--colorf35b1a);
  transition: all 0.3s;
}


.lang_hidden-cntr .lang_item svg {
  width: 22px;
  height: 22px;
}

.lang_hidden-cntr .lang_item svg path {
  fill-opacity: 1;
  transition: all 0.3s;
}

.lang_hidden-cntr .lang_item:hover svg path{
  fill: var(--colorf35b1a);
}

.header__list {
  display: flex;
  align-items: center;
  gap: 30px;;
}

.header__link {
  font-size: 14px;
  line-height: 140%;
  color: var(--color006);
  transition: all 0.3s;
}

.header__link:hover {
  color: var(--color000)
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 20%;
}

.header__logo img {
  max-width: 175px;
  width: 100%;
}

.header__logo span {
  font-size: 16px;
  line-height: 91%;
  color: var(--color000)
}

.header__logo span strong {
  display: block;
  font-weight: 400;
}

.header__catalog-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 60%;
  gap: 10px;
}

.catalog_btn {
  background-color: var(--color000);
  padding: 15.2px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.catalog_btn img,
.catalog_btn strong {
  transition: all 0.4s;
}

.catalog_btn._opac img,
.catalog_btn._opac strong,
.catalog_btn:hover img,
.catalog_btn:hover strong {
  opacity: 0.7;
}

.catalog_btn img {
  width: 24px;
  height: 24px;
}

.catalog_btn strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--colorfff);
}

.catalog__hidden-container {
  width: 100%;
  position: absolute;
  background-color: var(--colorfff);
  z-index: 4;
  left: 0;
  top: 75px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.catalog__hidden-container._active {
  overflow: visible;
}

.catalog__hidden-container::before {
  position: absolute;
  content: "";
  width: 150vw;
  height: 100%;
  top: 0;
  left: -50vw;
  background-color: var(--colorfff);
  box-shadow: 0 25px 35px 0 var(--color0015);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.catalog__hidden-container._active::before {
  transform: scaleX(1);
}

.catalog__hidden-container._collapsing::before {
  transform: scaleX(0);
}

.catalog__hidden-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 45px;
  align-items: stretch;
  justify-content: flex-start;
  padding: 45px 0 50px;
  opacity: 0;
  transition: all 0.2s;
}

.catalog__hidden-wrap._show {
  opacity: 1;
}

.catalog__hidden-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.catalog__hidden-item._header {
  padding-bottom: 5px;
}

.catalog__hidden-item._header h5 {
  font-weight: 600;
}

.catalog__hidden-link {
  font-weight: 400;
  font-size: 14px;
  color: var(--color009);
  transition: all 0.3s;
}

.catalog__hidden-link:hover {
  color: var(--color000);
}

.catalog__hidden-show_more {
  padding: 0;
  background-color: unset;
}

.catalog__hidden-show_more strong {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: var(--colorf35b1a);
  position: relative;
}

.catalog__hidden-show_more strong::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  right: -12px;
  top: 55%;
  transform: translateY(-50%);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M3.75 7.5L6.25 5L3.75 2.5" stroke="%23F35B1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s;
}

.catalog__hidden-show_more:hover strong::before {
  right: -16px;
}

.search_cntr {
  width: 86%;
  position: relative;
}

._search-page-mob {
  display: none;
}

.search_label {
  position: absolute;
  top: 50%;
  transform: translate(-60px, -50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search_label img {
  width: 100%;
  transition: all 0.3s ease;
}

.search_label:hover img {
  transform: scale(1.2);
}

.search_cntr:hover .search_label,
.search_cntr:focus-within .search_label {
  transform: translate(20px, -50%);
}

.search__input-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header_search {
  width: 100%;
  border: 2px solid var(--colorc3eb0e);
  border-radius: 8px;
  padding: 16px 10px 16px 50px;
  box-shadow: 0 4px 8px -2px rgba(195, 235, 14, 0.4);
  outline: none;
}

.header_search:focus-visible {
  box-shadow: 0 4px 8px -2px rgba(243, 91, 26, 0.4);
  border: 2px solid var(--colorf35b1a)
}

.header_search::placeholder {
  color: var(--color000);
  font-size: 16px;
  line-height: 140%;
}

.search__result-container {
  position: absolute;
  top: 60px;
  left: 0;
  border: 1px solid var(--color003);
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 15px 35px 0 var(--color0015);
  background: var(--colorfff);
  width: 100%;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.search__result-container._active {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

.search__result-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  opacity: 0;
  transition: all 0.2s;
}

.search__result-wrap._show {
  opacity: 1;
  transition: all 0.2s;
}

.search__result-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.search__result-list,
.search__result-item,
.search__result-link {
  width: 100%;
}

.search__result-link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  line-height: 140%;
}

.search__result-img {
  border-radius: 8px;
  width: 90px;
  height: 64px;
  padding: 15px;
  background-color: var(--color0004);
}

.search__result-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search__result-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search__result-price {
  text-transform: uppercase;
}

.search__result-show_more {
  border-radius: 8px;
  padding: 19px 27px;
  background-color: var(--color0005);
  align-self: center;
  width: 100%;
  text-align: center;
}


.search__result-show_more strong {
  font-weight: 500;
  line-height: 140%;
  color: var(--color000);
  position: relative;
}

.search__result-show_more strong::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M4.125 2.25L7.875 6L4.125 9.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  right: -20px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.search__result-show_more:hover strong::before {
  right: -30px;
} 

.search__result-show_more strong i {
  font-style: normal;
}

.search__result-similiar_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.search__result-similiar_item {
  display: flex;
}

.search__result-similiar_link {
  border-radius: 8px;
  padding: 10px 16px;
  background-color: var(--color0005);
  line-height: 1.5;
  transition: all 0.3s;
}

.search__result-similiar_link:hover {
  box-shadow: 0 4px 8px -2px var(--color0015);
  background-color: var(--color0006);
}

.search__result-similiar_link strong {
  font-weight: 400;
}

.search__result-similiar_link i {
  font-style: normal;
  font-size: 14px;
  color: var(--color004);
  transition: all 0.3s;
}

.search__result-similiar_link:hover i {
  color: var(--color000);
}

.header__nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.nav-link._count::before {
  content: "19";
  position: absolute;
  border-radius: 50%;
  background-color: var(--colorf35b1a);
  color: var(--colorfff);
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  display: inline-block;
  min-height: 18px;
  min-width: 18px;
  line-height: 18px;
  top: -5px;
  right: 6px;
  z-index: 1;
}

.nav-link img {
  width: 24px;
  height: 24px;    
  transition: all 0.3s;
}

.nav-link strong {
  font-size: 13px;
  line-height: 140%;
  color: var(--color004);
  font-weight: 400;
  transition: all 0.3s;
}

.nav-link:hover img {
  transform: scale(1.2);
}

.nav-link:hover strong {
  color: var(--color000);
}

.header__nav_pop-item {
  position: relative;
  width: auto!important;
}

.header__nav._pop-list .slick-list{
  padding: 0!important;
  overflow: visible;
} 

.car_nav-link {
  font-size: 16px;
  position: relative;
  transition: all 0.3s;
}

.car_nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color000);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.car_nav-link.active::after,
.car_nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.car_nav-link:hover {
  color: var(--color000);
}

.car_nav-link.select::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/marks/arrowDownBlackSvg.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
  z-index: -1;
}

.car_nav-link.active::before,
.car_nav-link.select:hover::before {
  transform: rotate(180deg) translateY(50%);
}

.select__container {
  position: absolute;
  width: auto;
  top: 30px;
  z-index: 10;
  border: 1px solid var(--color003);
  border-radius: 8px;
  display: none;
  box-shadow: 0 0 10px var(--color005);
}

.select__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorfff);
  z-index: -1;
  border-radius: 8px;
}

.select__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 25px 30px;
  width: 300px;
}

.select__item {
  display: none;
}

.select__item.active {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.select_type-link strong,
.select_type-link i {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 140%;
  transition: all 0.3s;
}

.select_type-link strong {
  font-size: 16px;
  color: var(--color009);
}

.select_type-link i {
  font-style: normal;
  font-size: 14px;
  color: var(--color004);
}

.select_type-link:hover strong {
  color: var(--color000);
}

.select_type-link:hover i {
  color: var(--colorf35b1a);
}

.mobile__menu {
  display: none;
}
/* ====================== Header rules ============================ */

@media screen and (max-width: 1280px) {
  .header__nav.mid {
    gap: 20px;
  }

  .header__logo img {
      max-width: 145px;
  }
  .header__catalog-search {
      flex: 1 1 50%;
  }
}

@media screen and (max-width: 1200px) {
  .header__nav.bot {
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 25px;
    position: relative;
    /* clip-path: inset(0 0 0 0); */
  }

.header__nav.bot::after {
    position: absolute;
    content: "";
    right: -15px;
    top: 0;
    width: 51px;
    height: 100%;
    background-image: url(../img/details/bgGradientTransparent.svg);
  }
  .header__nav.bot::before {
    display: none;
  }
  .header_search::placeholder {
    font-size: 14px;
  }
  .select__container {
    top: 40px;
  }
  .header__nav_pop-item {
    margin-right: 30px;
  }

}

@media screen and (max-width: 1023.98px) {
  .header__nav.bot {
    gap: 20px;
  }

  .catalog_btn {
      padding: 12px 10px;
  }

  .catalog_btn img {
      width: 22px;
      height: 22px;
  }

  .catalog_btn strong {
      font-size: 14px;
  }

  .header_search {
      padding: 12px 10px 12px 40px;
  }

  .header__logo span {
      display: none;
  }

  .search_label {
      width: 22px;
      height: 22px;
  }

  .search_cntr:hover .search_label, .search_cntr:focus-within .search_label {
      transform: translate(12px, -50%);
  }

  .search_label:hover img {
    transform: scale(1.1);
  }

}

@media screen and (max-width: 768px) {
  .header__nav.bot {
    gap: 10px;
  }

  /* header__menu */
  .header__nav.top,
  /* .header__nav.mid .header__catalog-search, */
  .header__nav.mid .header__nav-links {
    display: none;
  }

  .header__nav.mid .header__catalog-search .search_cntr .search__input-wrap,
  .header__nav.mid .header__catalog-search .catalog_cntr .catalog_btn {
    display: none;
  }

  .header__catalog-search {
    flex: 1 1 0;
    width: 0; 
  }

  .header__nav.mid {
    gap: 0;
    padding: 20px 0 0 0;
  }

  .header__nav.bot {
    padding: 15px 20px;
  }

  .header__logo {
    width: 100%;
    justify-content: center;
  }

  .mobile__menu {
    display: block;
    position: fixed;
    background-color: var(--colorfff);
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10.5px 10px;
    z-index: 1002;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  }

  .mobile__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
  }

  .mobile__nav-list::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorfff);
    z-index: 10;
  }

  .mobile__nav-item {
    position: relative;
    z-index: 11;
  }

  .mobile__menu-btn {
    background-color: unset;
    border: none;
  }
  
  .mobile__nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    position: relative;
    z-index: 1122;
  }

  .mobile__nav-link strong {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    text-transform: lowercase;
    text-align: center;
    color: var(--color004);
  }

  .mobile__nav-link strong {
    transition: all 0.3s;
  }

  .mobile__nav-link:hover strong {
    color: var(--color000);
  }

  .mobile__nav-link img  {
    width: 20px;
    height: 20px;
    transition: all 0.3s;
  }

  .mobile__nav-link:hover img {
    transform: scale(1.1);
  }

  .mobile__menu-hidden-cntr {
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100%;
    transform: translateY(150%);
    transition: all 0.4s ease;
  }

  .mobile__menu-hidden-cntr.show {
    transform: translateY(0%);
    height: 100%;
  }

  .mob_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    visibility: hidden;
  }

  .mobile__menu-hidden-cntr.show .mob_overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
    visibility: visible;
  }

  .mobile__menu-hidden-content {
    margin: 175px 0px 0 0;
    border-radius: unset;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    z-index: 0;
    position: relative;
    height: 100%;
    background-color: var(--colorfff);
    padding: 30px 15px;
    overflow-y: auto;
  }

  .mobile__menu-hidden_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 130px;
  }

  .mobile_sub-bg {
    height: 62px;
    width: 111vw;
    background-color: var(--colorfff);
    position: fixed;
    bottom: -90px;
    left: -8px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}
  
  .catalog_section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  ._mob-style {
    position: relative;
  }

  .header {
    padding-bottom: 30px;
  }

  /* .header::before {
    background-color: var(--color0004);
    z-index: -2;
  } */

  ._mob-style::before {
    background-color: var(--colorfff);
    z-index: -1;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
  }

  /* .header::before, */
  ._mob-style::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
  .header__nav.mid._search  .header__catalog-search{
    display: flex!important;
  }

  .header__nav.mid._search {
    flex-wrap: wrap;
  }

  .header__nav.mid._search .catalog_cntr {
    display: none;
  }

  .header__nav.mid._search .search_cntr {
    width: 100%;
  }
  .header_mob-btns_cntr {
    display: flex;
  }

  .header_mob-btns_cntr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    width: 100%;
  }

  ._header_mob-btns {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    border-radius: 18px;
    width: 54px;
    height: 29px;
    position: relative;
  }

  ._header_mob-btns img {
    width: 16px;
    height: 16px;
  }
  .header::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: var(--color0004);
    z-index: -2;
  }

  .header__nav._pop-list.bot {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .catalog__hidden-list {
    width: 100%;
  }
}