{% extends 'account/base_account.html' %}
{% load static %}

{% block section %}

<section class="account_sect _notification_sect _mob-style  _pt_sect-60 _acc-main">

{% endblock %}

{% block content %}
<div class="acc_main-cntr ">
    <ul class="acc__notif_list _acc-list">
        <li class="acc_main-item">
          <div class="acc__notif_title">
            <h2>Уведомления</h2>
          </div>
        </li>
        <li class="acc_main-item _notfications _column">
          <div class="notif__header _flex_between">
            <div class="notif__all _flex_center">
              <input id="notification_check" class="notif__choose_all _not _orange__checkbox" type="checkbox">
              <label for="notification_check" class="notif__choose_all_label">Выбрать все</label>
            </div>
            <div class="notif__selectors _flex_center">
              <button class="notif__read_btn _flex_al_center _eye_sel" type="button">
                <strong>Прочитано</strong>
              </button>
              <button class="notif__delete_btn _flex_al_center _bask_sel" type="button">
                <strong>Удалить</strong>
              </button>
            </div>
          </div>
          <div class="acc__notifications_cntr">
            <ul class="acc__notifications_list _flex_column">
              <li class="acc__notifications_item _flex_between _acc-BG _new">
                <div class="acc__notification_block _flex_start">
                  <div class="choose__notification_cntr">
                    <input class="choose__notification _not _orange__checkbox" type="checkbox" name="" id="">
                  </div>
                  <a href="" class="notification__chars" data-index="_1">
                    <h4>Продавец подтвердил заказ</h4>
                    <ul class="notif__char_list _flex_start">
                      <li class="notif__char_item">Мини-трактор Lovol TE354, 2024</li>
                      <li class="notif__char_item">Автобетононасос Zomlion 57-ZR, 2024</li>
                      <li class="notif__char_item">Toyota Camry, 3.5 L V6</li>
                    </ul>
                  </a>                           
                </div>
                <div class="acc__notification_actions _flex_end">
                  <time datetime="">19 июня 19:35</time>
                  <div class="acc__notification_btns _flex_center">
                    <button class="notification_read _eye_sel" type="button"></button>
                    <button class="notification_delete _bask_sel" type="button"></button>
                  </div>
                </div>
              </li>
              <li class="acc__notifications_item _flex_between _acc-BG _new">
                <div class="acc__notification_block _flex_start">
                  <div class="choose__notification_cntr">
                    <input class="choose__notification _not _orange__checkbox" type="checkbox" name="" id="">
                  </div>
                  <a href="" class="notification__chars" data-index="_2">
                    <h4>Продавец подтвердил заказ</h4>
                    <ul class="notif__char_list _flex_start">
                      <li class="notif__char_item">Мини-трактор Lovol TE354, 2024</li>
                      <li class="notif__char_item">Автобетононасос Zomlion 57-ZR, 2024</li>
                      <li class="notif__char_item">Toyota Camry, 3.5 L V6</li>
                    </ul>
                  </a>                           
                </div>
                <div class="acc__notification_actions _flex_end">
                  <time datetime="">19 июня 19:35</time>
                  <div class="acc__notification_btns _flex_center">
                    <button class="notification_read _eye_sel" type="button"></button>
                    <button class="notification_delete _bask_sel" type="button"></button>
                  </div>
                </div>
              </li>
              <li class="acc__notifications_item _flex_between _acc-BG _old">
                <div class="acc__notification_block _flex_start">
                  <div class="choose__notification_cntr">
                    <input class="choose__notification _not _orange__checkbox" type="checkbox" name="" id="">
                  </div>
                  <a href="" class="notification__chars" data-index="_3">
                    <h4>Продавец подтвердил заказ</h4>
                    <ul class="notif__char_list _flex_start">
                      <li class="notif__char_item">Мини-трактор Lovol TE354, 2024</li>
                      <li class="notif__char_item">Автобетононасос Zomlion 57-ZR, 2024</li>
                      <li class="notif__char_item">Toyota Camry, 3.5 L V6</li>
                    </ul>
                  </a>                           
                </div>
                <div class="acc__notification_actions _flex_end">
                  <time datetime="">19 июня 19:35</time>
                  <div class="acc__notification_btns _flex_center">
                    <button class="notification_read _eye_sel" type="button"></button>
                    <button class="notification_delete _bask_sel" type="button"></button>
                  </div>
                </div>
              </li>
              <li class="acc__notifications_item _flex_between _acc-BG _old">
                <div class="acc__notification_block _flex_start">
                  <div class="choose__notification_cntr">
                    <input class="choose__notification _not _orange__checkbox" type="checkbox" name="" id="">
                  </div>
                  <a href="" class="notification__chars" data-index="_4">
                    <h4>Продавец подтвердил заказ</h4>
                    <ul class="notif__char_list _flex_start">
                      <li class="notif__char_item">Мини-трактор Lovol TE354, 2024</li>
                      <li class="notif__char_item">Автобетононасос Zomlion 57-ZR, 2024</li>
                      <li class="notif__char_item">Toyota Camry, 3.5 L V6</li>
                    </ul>
                  </a>                           
                </div>
                <div class="acc__notification_actions _flex_end">
                  <time datetime="">19 июня 19:35</time>
                  <div class="acc__notification_btns _flex_center">
                    <button class="notification_read _eye_sel" type="button"></button>
                    <button class="notification_delete _bask_sel" type="button"></button>
                  </div>
                </div>
              </li>
              <li class="acc__notifications_item _flex_between _acc-BG _old">
                <div class="acc__notification_block _flex_start">
                  <div class="choose__notification_cntr">
                    <input class="choose__notification _not _orange__checkbox" type="checkbox" name="" id="">
                  </div>
                  <a href="" class="notification__chars" data-index="_5">
                    <h4>Продавец подтвердил заказ</h4>
                    <ul class="notif__char_list _flex_start">
                      <li class="notif__char_item">Мини-трактор Lovol TE354, 2024</li>
                      <li class="notif__char_item">Автобетононасос Zomlion 57-ZR, 2024</li>
                      <li class="notif__char_item">Toyota Camry, 3.5 L V6</li>
                    </ul>
                  </a>                           
                </div>
                <div class="acc__notification_actions _flex_end">
                  <time datetime="">19 июня 19:35</time>
                  <div class="acc__notification_btns _flex_center">
                    <button class="notification_read _eye_sel" type="button"></button>
                    <button class="notification_delete _bask_sel" type="button"></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
    </ul>
</div>
{% endblock %}